html {
  scroll-behavior: smooth;
}

main {
    flex: 1 0 auto;
  }


body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
  background-color: #eee;
  transition: color 1s ease, background-color 1s ease; }
  body.dark {
    background-color: #202123;
    color: #fff; }
    body.dark nav {
      background-color: #26A69A; }
    body.dark .card {
	  background-color: rgba(255, 255, 255, 0.2); }
	  
	  body.dark .card .card-reveal {
		background-color: rgba(0, 0, 0, 1); }
    body.dark .btn {
      background-color: #EE6F73; }
    body.dark .divider {
      opacity: 0.2; }
    body.dark .sidenav {
      background-color: #2D2D31; }
      body.dark .sidenav li a:not(.subheader) {
        color: #89B2F5; }
        body.dark .sidenav li a:not(.subheader):hover {
          background-color: #3B4043; }
      body.dark .sidenav li a.subheader {
        color: #9AA0A6; }
      body.dark .sidenav li a .material-icons {
        color: #9AA0A6; }
    body.dark .collection {
      border: 1px solid rgba(255, 255, 255, 0.2); }
      body.dark .collection .collection-item {
        background-color: rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

img.activator {
  object-fit: cover;
  height: 250px; }

.mb-10 {
  margin-bottom: 10px; }

  .img-hover-zoom {
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
	transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
	transform: scale(1.5);
  }

/* .ppp-bg-grid {
    background-image: repeating-linear-gradient(0deg, rgb(245, 245, 245) 0px, rgb(245, 245, 245) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(245, 245, 245) 0px, rgb(245, 245, 245) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(131,0%,98%),hsl(131,0%,98%));
} */

.ppp-bold{
  font-weight: bold;
}